HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/
.mvn/
mvnw
mvnw.cmd
*.log
src/main/resources/static/
src/main/resources/templates/index.html
src/main/resources/service-worker.js
src/main/resources/precache-manifest.a7e24c269e113ee5298cbaa77617deab.js
src/main/resources/manifest.json
src/main/resources/index.html
src/main/resources/favicon.ico
src/main/resources/asset-manifest.json
